.add_customer_container {
    width: 100%;
    padding: 15px;
    display: flex;

}

.add_customer_title {
    font-weight: 500;
    color: var(--colorText_a);
    font-size: 1.4em;
    padding-bottom: 5px;
}

.add_customer_form {
    width: 100%;
    
}

.add_customer_elements_container {    
    position: relative;
    margin: 0;
}

.add_customer_register_container {
    margin: 0;
}

.add_customer_option_container{
    margin-top: 30px;
}

.add_customer_buttons_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 0;
    
}



.add_customer_button {
    width: 100%;
}

.add_customer_info_shipping {
    
    display: flex;
    width: 100%;   
    flex-direction: column;
    gap: 10px;

}

.add_customer_label {
    color: var(--colorText_a);
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 0 5px;
    border-radius: 5px;
    font-size: 0.9em;
}

.add_customer_radio_container {
    display: flex;
    align-items: center;
    gap: 15px;
    
    height: 30px;
    

}

.add_customer_input_radio {
    width: 20px;
    margin: 0;
}

.add_customer_label_radio {
    margin: 0;
}

.add_customer_title_register{
    font-weight: 500;
    color: var(--colorText_a);
    font-size: 1.4em;
    padding-top: 25px;
}

.add_customer_register_container_element{
    position: relative;
    margin: 0;
}

.add_customer_show_hidden_pass{
    position: absolute;
    top: 14px;
    right: 15px;
}
.bx-show, .bx-hide{
    font-size: 2em;
    color: var(--colorText_a);
    cursor: pointer;
}
.add_customer_input_paddingbx {
    padding-right: 50px;    
}

.add_customer_cancel {
    background-color: var(--bgButtonCancel);
}

.add_customer_cancel:hover {
    background-color: var(--bgButtonCancelHover);
}

.add_customer_recaptcha{
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 15px;
    
}


.input-error{
    border: 2px solid rgb(247, 79, 79);
}

.add_customer_register_title{
    font-size: 1.4em;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0;
    color: var(--colorText_a);
}

.add_customer_register_user_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add_customer_spinner{
    width: 100%;
    display: flex;
    padding: 20px;
}