.card_product_container{
    width: 100%;
    max-width: 190px;
    aspect-ratio: 1/1.4;
    position: relative;
    cursor: grab;
    background-color: var(--bgCardContainer);
    border-radius: 10px;
}
.card_container_img{
    width: 100%;
    aspect-ratio: 1/1;   

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px 10px 0 0;

    position: relative;
}

.bxs-heart{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-size: 1.5em;
    color: rgb(116, 114, 114);
    cursor: pointer;
}


.heart-fill{    
    color: red;
}

.card_button_plus:hover{
    transform: scale(1.1);
}

.card_product_size{
    position: absolute;
    top: 0;    
    right: 0;
    
    font-size: 0.8em;
    margin:5px;
    padding: 0 5px;
    border-radius: 5px;
    color: var(--textColor_a);
    background-color: rgb(222, 220, 223);
    cursor: pointer;
}

.card_product_img{
    /*centra imagen dentro de su contenedor q ocupe ancho y alto sin perder proporciones*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;
}

.card_product_button_cart{
    position: absolute;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    bottom: 10px;

}

.card_product_button_cart:hover{
    transform: scale(1.1);
}

.card_product_body{
    padding: 5px 15px;
}

.card_product_price{
    font-size: 22px;
    font-weight: 500;
    color: var(--colorText_a);
}

.card_product_name{
    font-size: 1em;
    color: var(--colorText_a);
}