.header_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;    
    
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bgBodyPageBlur);
    
    overflow-y: visible !important;    
    transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.private{
    display: none;
}
.private_active{
    display: block;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em;    
    color: var(--colorText_b);    
    width: 100%;
    max-width: 1280px;
    border-bottom: 1px solid var(--borderCardproduct);
    
}

.nav {     
    max-width: 1280px;
    border-bottom: none;
}

.linkActive{
    color:var(--colorText_b);
    padding: 0 10px;
    border-radius: 3px;    
    background-color: var(--colorTextActiveLink);
}

.linkDesactive{
    color:var(--colorText_a);
}

.nav_items_left,
.nav_items_right {
    display: flex;
    align-items: center;
    

}

.nav_items_left {
    gap: 15px;
    margin: 0;
    justify-content: flex-start;
}


.nav_items_right {
    margin: 0;
    margin-left: 10px;
    list-style: none;
    gap: 5px;

}

.nav_item_search_container {
    margin: 0;
    position: relative;
}

.nav_item_search {
    display: none;
    
}


.bx-search {
    position: absolute;
    right: 7.5px;
    top: 7.5px;
    font-size: 16px;
    opacity: 0.5;
    color: var(--colorText_a);
}

.nav_link {
display: flex;
gap: 5px;

}




.logo {
    font-weight: 500;
    font-size: 1.5em;
    user-select: none;
    touch-action: none;
    margin: 0;
    color: var(--colorText_a);
}

.bx-menu {
    font-size: 1.8em;
    user-select: none;
    touch-action: none;
    cursor: pointer;
    color: var(--colorText_a);
}

.bx-user {
    font-size: 1.8em;
    user-select: none;
    touch-action: none;
    cursor: pointer;
    color: var(--colorText_a);
}

.bx-moon,
.bx-cart-alt {
    font-size: 1.8em;
    user-select: none;
    touch-action: none;
    cursor: pointer;
    color: var(--colorText_a);

}

.nav_items_separate {
    font-size: 1.5em;
    opacity: 0.3;
    display: none;
}

.hidden_nav {
    display: none;
}

.header_cart {
    display: flex;
    position: relative;
}

.quantity_products {
    position: absolute;
    top: 10px;
    right: -5px;
    width: 15px;
    height: 15px;    
    border-radius: 50%;
    font-size: 0.8em;
    font-weight: 400;    
    cursor: pointer;    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorText_a);
    color: var(--bgBodyPage);
}

.header_info_promo_container {
    width: 100%;
    
    display: none;
}
.bx-search {
    display: none;
}

.header_info_enterprise {
    margin: 0;
    width: 100%;
    max-width: 1280px;
    display: none;
    
}

.header_social_networks_container{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_header_social_network{
    font-size: 1.3em;
    padding: 0;
}
.separate{
    padding: 0 5px;
    opacity: 0.5;
}

.header_address{
    margin: 0
}

.nav_chat_box_container{
    position: fixed;
    bottom: 0;
    right: 0;
}

.nav_chat_box{
    font-size: 3em;
    padding: 15px;    
}

.nav_chat_box:hover{
    font-size: 4em;
    cursor: pointer;
}

.chat_box_container{
    position: fixed;
    bottom: 20px;
    right: 70px;        
}
.chat_box_container_active{
    position: fixed;
    bottom: 20px;
    right: 70px;
    opacity: 1;
    
}

.nav_item_link_element{
    display: none;
}

    

@media (min-width: 600px) {
    .nav_item_link_element{
        display: inherit;
    }
    .bx-menu {
        display: none;

    }

    .nav_items_separate {
        display: block;
    }

    .hidden_nav {
        display: block;
    }

    .finaly_item {
        display: none;
    }

    .header_info_promo_container {
        display: block;
    }

    .header_info_enterprise {
        display: block;
        display: flex;
        justify-content: space-between;
        
        border-bottom: 2px solid var(--borderCardproduct);
        
        padding: 5px 10px;
        color: var(--colorText_a);
        font-weight: 300;
    }



    .nav {
        display: flex;
        justify-content: space-between;
        padding: 1em 1em;
        width: 100%;        
        color: var(--colorText_a);
    }

    .quantity_products {
        position: absolute;
        top: 10px;
        right: -5px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        font-size: 0.8em;
        font-weight: 500;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
    }


}

@media (min-width: 700px) {
    .nav_item_search {
        display: block;
        height: 30px;
        border-radius: 5px;
        border: none;
        background-color: var(--bgColorInput);
        border: 1px solid var(--borderContainer);
        outline: none;
        padding: 0 8px;
        padding-right: 30px;
        width: 100%;
        max-width: 200px;


    }

    .bx-search {
        display: block;
    }


    .header_info_user{
        padding-right: 15px;
        font-size: 1em;
        color: var(--colorText_b);        
        padding: 0px 5px;
        margin-right: 5px;
        border-radius: 3px;
    }

}

@media (min-width: 1024px) {

    .nav_items_left {
        gap: 25px;
    }

    .nav_item_products {
        cursor: pointer;
    }

    .bx-menu {
        display: hidden;
    }


}