.order_item_product_container{
    margin: 0;
    height: max-content;
    display: flex;
    border-radius: 5px;
    
}

.order_item_product_image_container{
    width: 110px;
    margin: 0;    
}
.order_item_product_image{
    border-radius: 5px 0 0 5px;
}

.order_item_product_body{
    padding: 5px 10px;
    margin: 0;
}

.order_item_product_title{
    font-size: 1.1em;
    color: var(--colorText_a);
}
.order_item_product_quantity, 
.order_item_product_size,
.order_item_product_subtotal {
    font-size: 1em;
    color: var(--colorText_a);
}

.order_item_product_ul{
    list-style: none;
    padding: 5px;
    margin: 0;
}