.product_container_carousel {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;        
}

@media (min-width: 600px) {
    .slick-slide{
         width: max-content !important; 
    }
    /* importante para q no desborde carousel*/
    .slick-track{
        display: flex !important;
        flex-direction: row ;
        flex-wrap: nowrap;        
    }    
}
