
.recover_form {    
    padding: 20px 20px 0 20px;
    width: 350px;
    max-width: 400px;
    height: max-content;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--bgCardContainer);
}

.recover_items_container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.recover_items_container_pass {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative; /* Para controlar la vision del pass*/
}
.recover_items_button_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin: 15px 0;
}

.recover_show_hidden_pass{
    position: absolute;
    top: 30px;
    right: 20px;
}
.recover_input_pass{
    padding-right: 40px;
}

.recover_show_hidden_pass_icon{
    font-size: 20px;
    color: var(--colorText_a);
}

.recover_title {    
    font-size: 1.5em;    
    font-weight: 400;
    color: var(--colorText_a);
}


.recover_label {
    margin-left: 0;
    position: relative;
    top: 25px;
    left: 10px;        
    color: var(--colorText_a);
}
.recover_items_links_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    padding-bottom: 15px;

}

.recover_recover_pass_link, .recover_register_link{            
    color: var(--colorText_a);    
    cursor: pointer;
    
}

.recover_recover_pass_link:hover, .recover_register_link:hover{            
    color: var(--colorTextHover);
    
}


.recover_button {
    margin: 0;
    
    width: 100%;
}

