.slider-container {
    /* Estilos para el contenedor de la imagen */
    width: 100%;
    /* Ancho del contenedor */
    height: 450px;
    /* Altura del contenedor */
    overflow: hidden;
    /* Evita que la imagen se desborde del contenedor */
    position: relative;
}

.slide {
    position: absolute;

    /* Estilos para la imagen */
    width: 100%;
    /* Ancho al 100% del contenedor */
    height: 100%;
    /* Altura al 100% del contenedor */
    object-fit: cover;
    /* Mantiene la relación de aspecto y cubre todo el contenedor */
    object-position: center;
    /* Centra la imagen dentro del contenedor */
    transition: 0.3s ease-in-out;
    border-radius: 15px;
}

.active {    
    opacity: 1;
}

.inactive{
    opacity: 0;
}

.slider_home_fade_button_prev{
    font-size: 40px;
    user-select: none;
    
    
}

.slider_home_fade_button_next{
    font-size: 40px;
    user-select: none;
    
}

@media (min-width: 374px) {
    .slider-container {        
        height: 450px;
        
    }
}

@media (min-width: 768px) {
    .slider-container {
        max-height: 500px;

    }
    

}

