.faqs_container{
    width: 100%;
    max-width: 1280px;
    height: max-content; /* Por el momento*/
    
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 70px;
    margin: 0 auto;
    
}

.faqs_information_container{
    margin: auto 0;    
    padding: 15px;
    border-radius: 5px;
    background-color: var(--bgCardContainer);
}

.faqs_information_question{
    font-weight: 500;
    color: var(--colorText_a);
}

.faqs_information_answer{
    color: var(--colorText_a);
    font-weight: 300;
}

.faqs_title{
    margin-left: 0;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--colorText_a);
}
.faqs-information-answer{
    color: var(--colorText_a);
}

@media (min-width:600px) {
    .faqs_container{
        padding-top: 180px;
        padding-bottom: 50px;
        
    }
}