.faqs_container{
    width: 100%;
    height: max-content; /* Por el momento*/
    
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 70px;
    
}

.faqs_information_container{
    margin: auto 0;    
    padding: 15px;
    border-radius: 5px;
    background-color: var(--bgCardContainer);
}

.faqs_information_question{
    font-weight: 500;
    color: var(--colorText_a);
}

.faqs_information_answer{
    color: var(--colorText_a);
    font-weight: 300;
}

.faqs_title{
    margin-left: 0;
    font-size: 1.2em;
    font-weight: 500;
    color: var(--colorText_a);
}
.faqs-information-answer{
    color: var(--colorText_a);
}