.app {
    height: max-content;
    
}

/* .home_main {
    width: 100%;
    background-image: url('patern_sock.svg');
    background-repeat: repeat-z;
    background-size: 90px;
} */

.home_container_img {    
    width: 100%;
}

.home_text_elements_container {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.home_h1 {
    color: var(--colorText_a);
    font-size: 20px;
    padding-bottom: 5px;
    margin-left: 0;
}

.home_h3 {
    font-size: 16px;
    color: var(--colorText_a);
    padding-bottom: 5px;
    margin-left: 0;
}

.home_p_ {
    font-size: 14px;
    color: var(--colorText_a);

}

.home_main_button {
    padding: 0 30px;
    font-size: 14px;
    border: solid 2px var(--colorText_b);
    color: var(--colorText_b);
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgb(212, 209, 209);
    width: 150px;
    margin-top: 25px;
    margin-bottom: 25px;

    margin-left: 0;
}

.home_main_button:hover {
    background-color: var(--bgButtonHoverHome);
    color: var(--colorText_b);
    scale: 1.01;
}



.home_container_products {
    width: 100%;
    max-width: 1280px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_text_productos {
    padding-top: 25px;
    font-size: 25px;
    color: var(--colorText_a);
    margin-left: 0;
}

.home_info_price {
    background-color: var(--colorText_e);
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.home_text_oferta {
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    color: var(--colorText_b);

}

.home_icon_socials {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.bxl-instagram {
    margin-left: 0;
    padding: 5px 0;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.home_p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 14px;
    padding-left: 5px;
}

.bxl-whatsapp {
    margin-left: 0;
    padding: 5px 0;
    font-size: 2em;
    display: flex;
    cursor: pointer;
}




.vermas {

    border: solid 2px var(--colorButton);
    color: var(--colorButton);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;

}

.home_quantity_model {
    color: var(--colorText_a);
    font-weight: bold;
    font-size: 2em;
    margin: 0;
}

.home_models_info {
    display: flex;
    margin-left: 0;
}

.home_models_img {
    height: 50px;
    padding-right: 5px;
}

.vermas:hover {
    background-color: var(--colorButton);
    color: var(--colorText_b);
}

.home_elements_desktop {
    display: none;

}

.home_instruccion_buy_container{    
    width: 100%;
    padding: 10px;
    padding-top: 20px;
    display: flex;    
    flex-direction: column;
    gap: 15px;
}



.home_instruccion_element{
    position: relative;    
    width: 100%;
}

.home_instruccion_title{        
    font-size: 1.5em;
    font-weight: 500;
    color: var(--colorText_a);
    text-align: center;
    padding: 10px;
    
}

.home_instruccion_line{
    position: absolute;
    top: 40px;
    right: 20px;
    height: 3px;
    width: 100px;    
    background-color: rgb(255, 203, 48);
}

.home_ofeer_container{    
    height: 400px;
    width: 100%;
    background-image: url('oferta.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    border-radius: 5px;
}

.home_instruccion_img_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background-image: url('socks_comic.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    border-radius: 5px;
}

.home_instruccion_img_container_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background-image: url('shipping.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    border-radius: 5px;
}

.home_instruccion_img_container_3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background-image: url('envios.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    border-radius: 5px;
}

.home_instruccion_backdrop_img{
    background-color: #34495eac;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
}

.home_instruccion_instruccion_number{
    position: absolute;
    top: 50px;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 8em;
    font-weight: 400;
    color: white;
    z-index: 2;
    
}

.home_instruccion_summary{
    padding-left: 20px;
    padding-top: 10px;
    font-size: 2em;
    font-weight: 400;
    color: white;
    z-index: 2;
}
@media (min-width: 411px) {
    .home_h1 {        
        font-size: 23px;
        padding-bottom: 15px;
        margin-left: 0;
    }

    .home_h3 {
        font-size: 20px;
        color: var(--colorText_a);
        padding-bottom: 5px;
        margin-left: 0;
    }

    .home_p_ {
        font-size: 16px;
    }

    .home_main_button {
        padding: 0 30px;
        font-size: 16px;        
        color: var(--colorText_b);
        cursor: pointer;
        transition: background-color 0.3s ease;
        border-radius: 10px;
        box-shadow: 1px 1px 5px 1px rgb(212, 209, 209);
        margin-left: 0;
    }

    .home_quantity_model {
        font-size: 2em;
        margin: 0;
    }

    .home_models_info {

        display: flex;

        margin-left: 0;
    }

    .home_models_img {
        height: 50px;
        padding-right: 5px;
    }

}


@media (min-width: 550px) {

    .home_h1 {        
        padding-top: 5px;
        font-size: 45px;

    }

    .home_p_ {
        margin: 0;
        padding-bottom: 15px;
    }

    .home_h3 {
        margin-bottom: 5px;
    }

}

@media (min-width: 600px) {

    .home_h1 {        
        padding-top: 25px;
        font-size: 40px;
        margin-left: 0;

    }

    .home_h3 {
        padding-top: 25px;
        font-size: 30px;       
    }

    .home_p_ {
        font-size: 20px;
    }

    .home_main_button {
        font-size: 18px;


    }

    .home_text_oferta {
        font-size: 25px;

    }

    .home_text_productos {
        padding-top: 25px;        
        font-size: 25px;
        color: var(--colorText_a);

    }

    .home_p {
        font-size: 16px;
    }

    .home_container_img {
        display: none;
    }

    .home_text_elements_container {
        display: none;
    }

    .home_elements_desktop {        
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1280px;
    }

    .home_images_container {
        padding-top: 120px;
        width: 100%;
        max-width: 1280px;
        height: 450px;
        display: flex;
        background-image: url('portada_home_1.png');        
        background-position: center;
        border-radius: 10px;
        background-size: cover;
        flex-direction: column;
        
        
    }
    /*----------------------------*/
    .home_title{
        margin-left: 50px;
        font-size: 3em;
        line-height: 1;
        color: var(--colorText_b);
    }
    .home_phrase_welcome{
        margin-top: 20px;
        margin-left: 50px;
        color: var(--colorText_b);
        font-weight: 400;
        font-size: 1.3em;
    }

    .home_img_bottom_container {
        aspect-ratio: 1;
        max-height: 300px;
        
    }

    .home_img {        
        width: 100%;

    }

    .home_img_bottom{        
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    
    .home_btn_buy{
        margin-left: 50px;
        margin-top: 30px;
        height: 45px;
        width: 150px;
        border-radius: 10px;
        font-weight: 500;
        margin-top: 25px;
        color: var(--colorText_b);
        background-color: var(--colorButton);
        transition: 0.3s ease-in-out;
        
        border: 2px solid var(--colorText_b);;        

    }

    .home_btn_buy:hover{        
        color: var(--colorText_b);
        
    }

    .home_models_info_{
    margin-left: 70px;
    margin-top: 20px;
    display: flex;
    gap: 15px;
    
    }
    .home_quantity_model_{
        font-size: 2em;
        font-weight: 600;
        color: var(--colorText_b);
        
        background-color: rgba(59, 91, 95, 0.933);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        border-radius: 12px;
    }
    /*-----------------------------------------------------*/

    .home_box_img_container {
        display: flex;
        padding: 15px 0;
        gap: 15px;
    }
    

    .home_main {
        background-image: none;
    }

    .home_instruccion_buy_container{        
        display: none;
        
    }

}


@media (min-width: 1024px) {
    .home_img_container {
        height: 500px;

    }
    .home_box_img_container {        
        gap: 25px;
        
    }
}