.app {
    height: max-content;
    width: 100%;
    padding-bottom: 150px;
}

/* .home_main {
    width: 100%;
    background-image: url('patern_sock.svg');
    background-repeat: repeat-z;
    background-size: 90px;
} */

.home_container_img {    
    width: 100%;
}

.home_slider_title_hidden{
    display: none;
}

.sliderss{
    background-color: #0a9758;
    height: max-content;
}


.home_text_elements_container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    
}

.home_products_container{
    height: max-content;
    background-color: #0a9758;
}

.home_h1 {
    color: var(--colorText_a);
    font-weight: 500;
    font-size: 22px;
    text-align: center;    
    line-height: 2;
    margin: 0
}

.home_h3 {
    font-size: 18px;
    text-align: center;
    color: var(--colorText_a);    
    font-weight: 800;
    margin: 0;    
}

.home_span_text_color {
    font-size: 28px;
    display: inline-block;
    line-height: 2;
    font-weight: bold; /* Corregido el valor */
    background: linear-gradient(to top left,#45ee75,#aac734);
    -webkit-background-clip: text;
    background-clip: text; /* Definición de la propiedad estándar */
    -webkit-text-fill-color: transparent;
    color: transparent; /* Añadido para navegadores que no soportan background-clip */
}
.home_and {
    font-size: 12px;
    display: inline-block;
    line-height: 2;
    font-weight: bold; /* Corregido el valor */
    background: linear-gradient(to top left,#0a9758,#A5CC82);
    -webkit-background-clip: text;
    background-clip: text; /* Definición de la propiedad estándar */
    -webkit-text-fill-color: transparent;
    color: transparent; 
}

.home_main_button{
    margin: 15px 0;
    transition: 0.3s ease-in-out;
    width: 300px;
    font-size: 1.2em;
    
    
}

.home_main_button:hover {    
    
}

.home_products_container{
    width: 100%;
    padding: 10px;
    display: grid;


    /* 2 columnas responivas*/
    grid-template-columns: repeat(1, 1fr);    
    grid-template-rows:  repeat(auto-fill, 280px);
    gap: 10px;
}

.home_p_ {
    font-size: 14px;
    color: var(--colorText_a);

}

.home_container_products {
    width: 100%;
    max-width: 1280px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_text_productos {
    padding-top: 25px;
    font-size: 25px;
    color: var(--colorText_a);
    margin-left: 0;
}

.home_info_price {
    background-color: var(--colorText_e);
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.home_text_oferta {
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    color: var(--colorText_b);

}

.home_icon_socials {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.bxl-instagram {
    margin-left: 0;
    padding: 5px 0;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.home_p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 14px;
    padding-left: 5px;
}

.bxl-whatsapp {
    margin-left: 0;
    padding: 5px 0;
    font-size: 2em;
    display: flex;
    cursor: pointer;
}

.vermas {
    border: solid 2px var(--colorButton);
    color: var(--colorButton);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;

}

.home_quantity_model {
    color: var(--colorText_a);
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
    line-height: 2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_quantity_models_number {
    
    font-weight: bold;
    font-size: 1.8em;    
    display: inline-block;    
    font-weight: bold; /* Corregido el valor */
    background: linear-gradient(to top left,#74ff2f,#2484dd);
    -webkit-background-clip: text;
    background-clip: text; /* Definición de la propiedad estándar */
    -webkit-text-fill-color: transparent;
    color: transparent;
    padding: 0 7px; 
}

.home_models_info {
    display: flex;    
    align-items: center;
    justify-content: center;
    margin: 0;
}

.home_models_img {
    height: 50px;
    margin: 0;
    padding-right: 15px;
}

.vermas:hover {
    background-color: var(--colorButton);
    color: var(--colorText_b);
}

.home_elements_desktop {
    display: none;

}





.home_instruccion_title{        
    font-size: 1.5em;
    font-weight: 500;
    color: var(--colorText_a);
    text-align: center;
    padding: 10px;
    
}

.home_instruccion_line{
    position: absolute;
    top: 40px;
    right: 20px;
    height: 3px;
    width: 100px;    
    background-color: rgb(255, 203, 48);
}

.home_process_buy_title{
    font-size: 1.5em;
    font-weight: 500;
    color: var(--colorText_b);
    margin-top: 15px;
    width: 100%;
    background-color: var(--colorButton);;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_process_buy_container{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.home_process_buy_element_title_container{
    width: 100%;
    .home_process_buy_element_title{
        color: var(--colorText_a);
        font-weight: 500;
        font-size: 22px;
        text-align: center;    
        line-height: 2;
        margin: 0

    }
}

.home_stack_container{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.home_stack_element{
    flex: 1;
    padding: 25px;
}


@media (min-width: 411px) {
    .home_h1 {        
        font-size: 23px;
        padding-bottom: 15px;
        margin-left: 0;
    }

    .home_h3 {
        font-size: 20px;
        color: var(--colorText_a);
        padding-bottom: 5px;
        margin-left: 0;
    }

    .home_p_ {
        font-size: 16px;
    }


    .home_quantity_model {
        font-size: 2em;
        margin: 0;
    }

    .home_models_info {

        display: flex;

        margin-left: 0;
    }

    .home_models_img {
        height: 50px;
        padding-right: 5px;
    }

}


@media (min-width: 550px) {

    .home_h1 {        
        padding-top: 5px;
        font-size: 45px;

    }

    .home_p_ {
        margin: 0;
        padding-bottom: 15px;
    }

    .home_h3 {
        margin-bottom: 5px;
    }

}

@media (min-width: 600px) {

    .home_h1 {        
        padding-top: 25px;
        font-size: 40px;
        margin-left: 0;

    }

    .home_h3 {
        padding-top: 25px;
        font-size: 30px;       
    }

    .home_p_ {
        font-size: 20px;
    }



    .home_text_oferta {
        font-size: 25px;

    }

    .home_text_productos {
        padding-top: 25px;        
        font-size: 25px;
        color: var(--colorText_a);

    }

    .home_p {
        font-size: 16px;
    }

    .home_container_img {
        display: none;
    }

    .home_text_elements_container {
        display: none;
    }

    .home_elements_desktop {        
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1280px;
    }

    .home_images_container {
        padding-top: 120px;
        width: 100%;
        max-width: 1280px;
        height: 450px;
        display: flex;
        background-image: url('./img/portada_home_1.webp');        
        background-position: center;
        border-radius: 10px;
        background-size: cover;
        flex-direction: column;
        
        
    }
    /*----------------------------*/
    .home_title{
        margin-left: 50px;
        font-size: 3em;
        line-height: 1;
        color: var(--colorText_b);
    }
    .home_phrase_welcome{
        margin-top: 20px;
        margin-left: 50px;
        color: var(--colorText_b);
        font-weight: 400;
        font-size: 1.3em;
    }

    .home_img_bottom_container {
        aspect-ratio: 1;
        max-height: 300px;
        
    }

    .home_img {        
        width: 100%;

    }

    .home_img_bottom{        
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    
    .home_btn_buy{


    }

    .home_btn_buy:hover{        
        color: var(--colorText_b);
        
    }

    .home_models_info_{
    margin-left: 70px;
    margin-top: 20px;
    display: flex;
    gap: 15px;
    
    }
    .home_quantity_model_{
        font-size: 2em;
        font-weight: 600;
        color: var(--colorText_b);
        
        background-color: rgba(59, 91, 95, 0.933);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        border-radius: 12px;
    }
    /*-----------------------------------------------------*/

    .home_box_img_container {
        display: flex;
        padding: 15px 0;
        gap: 15px;
    }
    

    .home_main {
        background-image: none;
    }

    .home_instruccion_buy_container{        
        display: none;
        
    }

}


@media (min-width: 1024px) {
    .home_img_container {
        height: 500px;

    }
    .home_box_img_container {        
        gap: 25px;
        
    }
}