/*----------------Page Product------------------*/

.product_menu_filter {
    display: none;
}

.product_filter_elements_container {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 58px;

}

.products_filter_options_container {
    width: 200px;
    height: max-content;
    border: 1px solid var(--colorBoxShadowCardproduct);
    border-radius: 12px;
    padding: 10px;

}



.product_slider_container {
    width: 100%;

}

.product_slider_c {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.product_filter_option {
    padding-left: 5px;
    cursor: pointer;
    font-size: 1em;
    color: var(--colorText_a);
    background-color: var(--bgCardContainer);
    margin-top: 5px;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;

}

.product_filter_option:hover {
    background-color: var(--bgCardContainerHover);
    color: var(--colorTextHover);
}

.product_filter_title {
    font-size: 1.1em;
    color: var(--colorText_a);
}

.product__container {
    
    width: 100%;
    padding: 10px;
    display: grid;


    /* 2 columnas responivas*/
    grid-template-columns: repeat(2, 1fr);    
    grid-template-rows:  repeat(auto-fill, max-content);
    gap: 10px;
}

.product_filtered_container {
    width: 100%;
    max-width: 190px;
        
}



.product_collection_filter_add_controller_Container {
    width: 100%;

}

.product_collection_filter {
    display: flex;
    flex-wrap: wrap;

}

.product_card_element_filter {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.element_random {
    width: 200px;
    height: 200px;
    border: 1px solid var(--borderContainer);
    border-radius: 12px;
    padding: 10px;
    background-color: var(--bgCardContainer);
    backdrop-filter: blur(80px);

}

.product_filtered_container::-webkit-scrollbar {
    width: 5px;

}

.product_filtered_container::-webkit-scrollbar-thumb {
    background-color: var(--colorbar_a);
    border-radius: 2.5px;

}

.product_filtered_container::-webkit-scrollbar-track {
    background-color: var(--bgScrollbar);
    border-radius: 2.5px;

}



.product_button_more_container {

    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.product_page {
    font-size: 0.8em;
    color: var(--colorText_a);
    font-weight: 400;
    border: 1px solid var(--colorbar_a);
    padding: 2px;
    width: 30px;
    border-radius: 3px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.left_action_pagination {
    font-size: 1.2em;
}

.right_action_pagination {
    font-size: 1.2em;
}

.product_quantity_page {
    font-size: 0.8em;
    color: var(--colorText_a);
    font-weight: 400;
}

.product_filter_notification {
    background-color: var(--colorBoxShadowCardproduct);
    color: var(--colorText_a);
    padding: 5px;
    border-radius: 12px;
    font-size: 0.8em;
    margin-bottom: 5px;

}

.product_filtered_not_found {
    width: 100%;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.product_filtered_text_not_found {
    color: var(--colorText_a);
}



@media (min-width:768px) {
    .product__container {
        margin: 0px 10px;
        display: flex;
       
       
       
       
       
    }

    .product_menu_filter {
        display: block;
        margin: 0;
        flex: 0.2;
    }

    .product_filter_elements_container {
        padding-top: 10px;
    }


}