.terms-and-conditions-container {    
    max-width: 1280px;
    margin: 10px auto;
    padding: 20px;      
    border-radius: 8px;
  }
  
  .terms-and-conditions-title {
    margin-top: 60px;
    font-size: 1.2em;
    text-align: center;
    color: var(--colorText_a);
    margin-bottom: 20px;
  }
  
  .terms-and-conditions-paragraph {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--colorText_a);
    text-align: justify;
    margin-bottom: 20px;
  }
  
  .terms-and-conditions-list {
    margin-left: 20px;
  }
  
  .terms-and-conditions-list-item {
    font-size: 1rem;
    margin-bottom: 15px;
    color: var(--colorText_a);
  }
  
  .terms-and-conditions-list-item strong {
    color: var(--colorText_a);
  }
  
  @media (min-width: 600px) {
    .terms-and-conditions-container {
      padding: 10px;
      padding-top: 60px;
    }
  
    .terms-and-conditions-title {
      font-size: 1.2em;
      padding-top: 50px;
    }
  
    .terms-and-conditions-paragraph {
      font-size: 0.9rem;
      padding: 10px;
    }
  
    .terms-and-conditions-list-item {
      font-size: 0.9rem;
    }
    

    
  }